.login-page{
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container{
  background-color: #141414;
  border-radius: 1rem;
  max-width: 28rem;
  width: 100%;
  box-sizing: border-box;
}

.login-form{
  box-sizing: border-box;
  max-width: 18rem;
  margin: 3rem auto;
  padding: 0.5rem;
}

.login-form-logo{
  margin: auto;
  margin-bottom: 3rem;
}

input, button{
  border: none;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
}

::placeholder{
  color: #636363;
}

.login-form-input{
  padding: 0.56rem 0.5rem;
  border-radius: 0.25rem;
  margin: 1rem auto;
  color: #636363;
}

.login-form-btn{
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #71be58;
  color: white;
  margin: 2rem auto;
  cursor: pointer;
}

.forgot-link{
  font-size: 0.9rem;
  color: #999;
  margin: auto;
  text-align: center;
}

.login-form-errors{
  color: #d24;
}